<div class="menu-routes">
    <div class="menu">
        <ul>
            <a href = "" [routerLink] = "['/categorias/acao']" routerLinkActive="active"><li><p>Ação</p></li></a>
            <a href = "" [routerLink] = "['/categorias/fps']" routerLinkActive="active"><li><p>FPS</p></li></a>
            <a href = "" [routerLink] = "['/categorias/luta']" routerLinkActive="active"><li><p>Luta</p></li></a>
            <a href = "" [routerLink] = "['/categorias/moba']" routerLinkActive="active"><li><p>MOBA</p></li></a>
            <a href = "" [routerLink] = "['/categorias/plaformer']" routerLinkActive="active"><li><p>Platformer</p></li></a>
            <a href = "" [routerLink] = "['/categorias/puzzle']" routerLinkActive="active"><li><p>Puzzle</p></li></a>
            <a href = "" [routerLink] = "['/categorias/ritmo']" routerLinkActive="active"><li><p>Ritmo</p></li></a>
            <a href = "" [routerLink] = "['/categorias/rpg']" routerLinkActive="active"><li><p>RPG</p></li></a>
            <a href = "" [routerLink] = "['/categorias/terror']" routerLinkActive="active"><li><p>Terror</p></li></a>
            <a href = "" [routerLink] = "['/categorias/visual-novel']" routerLinkActive="active"><li><p>Visual-Novel</p></li></a>
        </ul>
    </div>
    <div class="produtos">
        <router-outlet></router-outlet>
    </div>
</div>