<div class="menu-routes">
    <div class="menu">
        <ul>
            <li><p>Ação</p></li>
            <li><p>FPS</p></li>
            <li><p>Luta</p></li>
            <li><p>MOBA</p></li>
            <li><p>Platformer</p></li>
            <li><p>Puzzle</p></li>
            <li><p>Ritmo</p></li>
            <li><p>RPG</p></li>
            <li><p>Terror</p></li>
            <li><p>Visual-Novel</p></li>
        </ul>
    </div>
    <div class="produtos">
        <app-acao></app-acao>
        <router-outlet></router-outlet>
    </div>
</div>